button {
	display: inline-flex;
	margin: 3rem auto;
	padding: 1rem;
	outline: none;
	border: none;
    border-radius: 999rem;
    background-color: #00ff00;
	font-size: 1rem;
    font-weight: 700;
    color:black;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    cursor: pointer;
}

.demo{
    padding-left: 100px;
}

